*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

body{
    height: 100dvh;
    width: 100dvw;
}

header{
    height: 30%;
    background-color: aqua;
    background-image: url('background.jpg');
    background-size: cover;
}

.title{
    height: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.466);
    color: aliceblue;
    
}

/*header*/
.title h1{
    align-self: center;
    font-size: 2.5rem;
    word-spacing: -12px;
}

.title li{
    align-self: center;
    list-style-type: none;
    margin-top: 20px;
    font-size: 1.2rem;
    word-spacing: -5px;
}

.searchBar{
    position: relative;
    bottom: 18px;
    display: flex;
    justify-content: center;
    /*width: 100%;*/
}

.searchBar input,
.searchBar button{
    border: 2px solid darkgray;
}

.searchBar input{
    width: 65%;
    padding: 10px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    
}

.searchBar button{
    width: 25%;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

/*empty list*/
.list{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.pellicola{
    width: 30%;
}

.startMsgP{
    font-size: 1.2rem;
    font-weight: 500;
}

/*list with movie*/

.movieCard{
    border: 2px solid red;
    display: flex;
    justify-content: start;
    padding: 20px 5px;
}

.moviePoster{
    height: 200px;
    width: auto;
    margin: auto 0;
    border: 2px solid blue;
}

.movieInfo1,
.movieInfo2{
    display: flex;
    border: 2px solid green;
    font-size: 1rem;
}

.movieTitle{
    font-size: 1rem;
}

.plot{
    font-size: 0.75rem;
    color: blue;

}